:root {
  font-family: 'Monoton', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: unset;
}

ul, ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}